<h1 style="text-align: center;">Segmentation Results (PoC)</h1>
<h2 style="text-align: center;">Original Image</h2>
<p style="text-align: center;"><img src="{{original_img_src}}" /></p>
<h2 style="text-align: center;">Segmentation Probability Map</h2>
<p style="text-align: center;"><img src="{{img_src}}" /></p>

